body, #header-wrapper {
    background-color: #152025;
    color: #d6d6d6;
}

a {
    color: #c0b283;
}

h1, h2, footer, .project-type {
    color: #d6d6d6;
}

footer a {
    color: #d6d6d6;
}

#sun-icon {
    display: none;
}

#moon-icon {
    position: absolute;
    top: -1px;
    left: 43px;
    color: #c0b283;
    font-size: 21px;
    display: inline;
}