body, #wrapper {
    /* background-color: #121415; */
    background-color: #152025;
    color: #d6d6d6;
}

a {
    color: #c0b283;
}

h1, h2, footer, .project-type {
    color: #d6d6d6;
}

footer a {
    color: #d6d6d6;
}