body {
    background-color: #f4f4f4;
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}

#header-wrapper {
    height: 178px;
    background-color: #1A2930;
    padding-top: 8px;
}

#toggle-wrapper {
    float: right;
    width: 100px;
    position: absolute;
    top: 30px;
    margin-left: 77%;
}

#theme-toggle {
    width: 35px;
    position: relative;
    margin: auto;   
}

#sun-icon {
    position: absolute;
    top: -1px;
    right: -30px;
    color: #c0b283;
    font-size: 21px;
}

#moon-icon {
    display: none;
}

h1 {
    color: #f4f4f4;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    font-size: 49px;
}

h2 {
    color: #f4f4f4;
    font-style: italic;
    position: absolute;
    text-align: center;
    font-weight: 200;
    font-size: 1.2em;
    top: 82px;
    left: -51px;
    right: 158px;
}

#languages {
    color: #c0b283;
    position: absolute;
    top: 89px;
    left: 279px;
    right: 0px;
    font-size: 1em;
}

#links {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    min-width: 535px;
}

a {
    color: #1A2930;
    font-size: 1.3em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project-type {
    color: #373737;
    font-size: 27px;
    font-weight: 800;
    display: block;
    margin-bottom: -12px;
    margin-top: 20px;
    
}

.project-title {
    font-weight: 200;
    font-size: 22px;
}

.project-repo {
    font-size: 17px;
}

.contribution {
    font-size: 17px;
    float: right;
    position: relative;
    top: 6px;
}

footer {
    color: #373737;
    text-align: center;
    font-size: 15px;
    margin-top: 70px;
}

footer a {
    font-size: 1em;
    color: #373737;
}

#envelope {
    position: relative;
    right: 5px;
}

/* Slider styling */
.onoffswitch {
    position: relative; width: 35px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-top: 14px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 18px; padding: 0; line-height: 18px;
    border: 2px solid #BBBBBB; border-radius: 18px;
    background-color: #BBBBBB;
    transition: background-color 0.2s ease-in;
    z-index: 1;
}
.onoffswitch-label:before {
    content: "";
    display: block; height: 18px; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 15px;
    border: 2px solid #BBBBBB; border-radius: 18px;
    transition: all 0.2s ease-in; 
    z-index: 1;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #5EAD7E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #5EAD7E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}