body {
    background-color: #222222;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    color: #fff;
    font-style: italic;
    font-weight: lighter;
    font-size: 8em;
    position: relative;
    left: 18px;
}

h2 {
    color: #fff;
    font-style: italic;
    position: relative;
    top: -125px;
    left: 33px;
}

a {
    color: teal;
    font-size: 1.2em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

#links{
    position: relative;
    top: -120px;
    left: 61px;
}

footer{
    text-align: center;
    font-size: .8em;
}